@import "tailwindcss";

:root {
  --backdrop: #ffffff;
  --textColor: #171717;
}

@theme inline {
  --color-backdrop: var(--backdrop);
  --color-text-color: var(--textColor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backdrop: #0a0a0a;
    --textColor: #ededed;
  }
}

body {
  background: var(--backdrop);
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
}