version: "3.8"

services:
  backend:
    build: ./Backend
    container_name: backend
    restart: always
    expose:
      - "8000"
    env_file:
      - .env
    environment:
      - DB_HOST=host.docker.internal  # Points to the host machine's localhost
    extra_hosts:
      - "host.docker.internal:host-gateway"  # For docker to resolve host.docker.internal

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    expose:
      - "3000"
    volumes:
      - ./Frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend

volumes:
  pgdata: 