version: "3.8"

services:
  # Django Backend (Development)
  backend:
    build: ./Backend
    container_name: backend-dev
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DB_HOST=host.docker.internal
      - DEBUG=True
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./Backend:/app

  # Next.js Frontend (Development)
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: frontend-dev
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./Frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  # Nginx Reverse Proxy
  nginx:
    image: nginx:latest
    container_name: nginx-dev
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend 